{{ define "footer" }}
    <div class=" container footer navbar-fixed-bottom">
        <footer>
            <p>Copyright 2018 Gogram.com</p>
            <p><a href="/faq">FAQ</a></p>
        </footer>
    </div>
{{ end }}