{{define "yield"}}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Welcome Back!</h3>
            </div>
            <div class="panel-body">
                {{template "loginForm"}}
            </div>
            </div>
        </div>
    </div>
{{end}}